.playlistCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .playlistIcon {
    width: 30px;
    height: 30px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .playlistDescriptionWrapper {
    text-align: right;
  }
}

h2.sectionTitle {
  margin-top: 1rem;
}

.tag-filter-bar {
  padding: 0;
  padding-bottom: 1rem;
}

.tagContainer {
  width: 100%;
  display: flex;
  align-items: center;
  .tagButton {
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    color: black;
    margin-right: 10px;
    padding: 0 12px;
    height: 30px;
  }
}
