.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  z-index: 11;

  .uploadButton {
    height: 45px;
    border-radius: 0.5rem;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    padding-right: 8px;
    background-color: white;
    color: black;
    border: 1px solid black;
    svg {
      height: 100%;
    }

    &:hover {
      background-color: #000;
      color: white;
      svg {
        * {
          fill: white;
        }
      }
    }
  }

  .barTopLeft {
    width: 16rem;
    position: relative;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .topBarContainer {
    height: 100%;
  }

  .searchContainer {
    width: 60%;
    justify-content: center;

    .searchInputContainer {
      width: 90%;

      svg {
        fill: #000;
      }

      button.ai-button {
        background: #2a2a2a;
        box-shadow: 0px 0px 14px 3px #ffffff;
      }

      input {
        border: 1px solid #000;
        border-radius: 0.5rem;
        background-color: transparent;
      }
    }
  }

  .pageTitle,
  .barTopRight {
    width: 10%;
  }

  .barTopRight {
    margin-left: auto;
  }

  .pageTitle {
    padding-left: 2rem;
  }

  .darkModeToggle {
    border: 1px solid white;
  }

  .avatarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: relative;

    .avatar-dropdown-content {
      position: absolute;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 0.5rem;
      background-color: white;
      width: 8rem;
      top: 90%;
      right: 0;
      transform: translateY(10px);
      display: flex;
      flex-direction: column;
      align-items: self-start;
      justify-content: center;

      p {
        width: 100%;
        font-size: 0.8rem;
        margin-top: 6px;
        margin-bottom: 6px;
      }

      button {
        padding: 10px;
        width: 100%;
        text-align: left;
        span {
          margin-left: 10px;
          font-size: 0.8rem;
        }
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }

    .avatar {
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
    p {
      font-size: 10px;
      text-align: center;
    }
  }
}

.dark {
  .sidebar {
    nav {
      a {
        &:hover,
        &.selected {
          background-color: #2a2a2a;
          svg {
            fill: #fff;
          }
        }
      }
    }
  }
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 72px;

  nav {
    a {
      font-size: 1.1rem;
      &:hover,
      &.selected {
        background-color: #f0f0f0;
      }

      svg {
        fill: transparent;
      }

      svg.playlistIcon {
        fill: #363636;
      }

      &.selected {
        svg {
          fill: #000;
        }
      }
    }
  }

  .tagTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
    border: 1px solid white;
    border-radius: 0.5rem;

    &.listVisible {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0px;
    }

    &.menuCollapsed {
      justify-content: center;
      padding-right: 0;
      border: 1px solid white;
      border-radius: 0.5rem;
      svg {
        margin-right: 0;
      }
    }
  }

  .tagList {
    border: 1px solid white;
    border-radius: 0.5rem;
    transform: translateY(20px);
    transition: transform 200ms linear, opacity 200ms linear;

    button {
      padding: 3px;
      font-size: 15px;
      margin: 0;
      padding-left: 5px;

      .unselectTag {
        font-size: 18px;
        padding-right: 5px;
      }
    }

    &.visible {
      transform: translateY(0);
      opacity: 1;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0px;
    }

    &.hidden {
      transform: translateY(100%);
      opacity: 0;
    }

    &.menuCollapsed {
      display: none;
    }
  }
}

.mainContent {
  margin-top: 72px;
  margin-left: 16rem !important;
}

button {
  &.closeBtn {
    background-color: #195d80;
    color: white;
    margin-right: auto;
    border: 1px solid #195d80;
    &:hover {
      color: #195d80;
      border: 1px solid #195d80;
      background-color: white !important;
    }
  }
}

.dark .sidebar-gradient {
  background: linear-gradient(to bottom, #4a4a4a, #2a2a2a);
}
.dark .toolbar-gradient {
  background: linear-gradient(to bottom, #4a4a4a, #2a2a2a);
}

.toolbar-gradient,
.sidebar-gradient {
  background: white;
  svg {
    stroke: black;
  }
  span {
    color: black;
  }
}

.dark {
  .toolbar-gradient,
  .sidebar-gradient {
    background: black;
    svg {
      stroke: white;
    }
    span {
      color: white;
    }
  }

  .searchContainer {
    width: 60%;
    justify-content: center;

    .searchInputContainer {
      width: 90%;
      svg {
        fill: #fff;
      }

      button.ai-button {
        background: #2a2a2a;
        box-shadow: 0px 0px 14px 3px #ffffff;
      }

      input {
        border: 1px solid #ffffff;
        border-radius: 0.5rem;
        background-color: transparent;
      }
    }
  }
}
